body{
    background-color: black;
}
div{
    margin-top: 100px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    color: white;
    font-family: "Libre Baskerville", serif;
}
img{
    width: 100%;
    border: 5px solid white;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}